@{
    ViewBag.Title = "Home Page";
    
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<content>
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="button" class="btn-primary">Val 1</button>
        </div>
    </div>

    <div class="row" style="padding-top: 10px">
        <div class="col-md-12 text-center">
            <button type="button" class="btn-primary">Val 2</button>
        </div>
    </div>
</content>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")